body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #16161A;
  color: #FFFFFE;
}
#logo{
  width: 400px !important;
  margin-top: 10px;
}

.card img{
  width: 200px !important;
  background: #FFFFFE;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  width: 17rem;
  margin: 10px;
  align-items: center;
  background: #72757D;
  text-transform: uppercase;
  border-radius: 10px
}

.card .card-title{
  text-align: center;
}

.card p{
  color: black;
}